<style>
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

*{
box-sizing: border-box;
font-family: Raleway;
color: #777;
margin-left: auto;
margin-right: auto;
}

html, body{
margin: 0;
padding: 0;
}

.nav ul{
margin: 0;
}

.nav li{
display: inline;
}

.nav a{
display: inline-block;
padding: .5em;
color: white;
text-decoration: none;
}

.main-nav #back{
text-align: center;
font-size: 1.1em;
font-weight: lighter;
border-bottom: 1px solid rgba(255,255,255,.3);
}

.nav a:hover{
background-color: rgba(255,255,255,.3);
}

header{
background-color: steelblue;
background-image: url("../imgs/isel_logo.jpg");
background-blend-mode: multiply;
background-size: cover;
padding-bottom: 30px;
}

.band-name{
text-align: center;
margin: 0;
font-size: 3em;
font-weight: normal;
color: white;
}

.content-section{
margin: 1em;
}

.container{
max-width: 900px;
margin: 0 auto;
padding: 0 1.5em;
}

body{
margin: 0;
padding: 0;
font-family: sans-serif;
}

.loginbox{
width: 340px;
height: 500px;
background: #000;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;
}

.avatar{
width: 120px;
height: 100px;
border-radius: 100%;
position: absolute;
top: -50px;
left: calc(50% - 60px);
}

.titlelogin{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
color: white;
}

.loginbox p{
margin: 0;
padding: 0;
font-weight: bold;
}

.loginbox input{
width: 100%;
margin-bottom: 20px;
}

.loginbox input[type ="text"], input[type="password"]{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size: 16px;
}


.loginbox input[type ="submit"]:hover{
cursor: pointer;
background: steelblue;
color: #000;
}

.loginbox a{
text-decoration: none;
font-size: 12px;
line-height: 20px;
color: darkgrey;
}

.loginbox a:hover{
color: #ffc107;
}

.miniheaders{
color: white;
}


.section-header{
font-family: DejaVu Sans Mono, monospace;
font-weight: normal;
color: #333;
margin: 0 auto;
font-size: 2.5em;
}

table, th, td {
border: 1px solid black;
font-family: 'Times New Roman', Times, serif;
}

h3,h4 {
font-family: Georgia, 'Times New Roman', Times, serif;
}

th {
color: white;
background-color: steelblue;
}

td{
background-color: AliceBlue;
color: black;
text-align: center;

}

li {
list-style-type: none;
}

footer{

background-color: rgb(0, 0, 0, .6);
padding-top: 30px;

color: white;
padding: .25em 0;

position: absolute;
bottom: 0;
width: 100%;
height:5rem;      

}

.another-content-section{
width: 30%;
max-width: 900px;
max-height: 900px;
}

.another-content-section h3{
text-align: center;
}

.big-content-section{
width: 43%;
max-width: 900px;
max-height: 900px
}

img{
max-width: 100%;
height: auto;
}

textarea{
background-color: AliceBlue;
}

td,
th {
border: 1px solid rgb(190, 190, 190);
padding: 10px;
}

caption {
padding: 10px;
caption-side: bottom;
}

table {
border-collapse: collapse;
border: 2px solid rgb(200, 200, 200);
letter-spacing: 1px;
font-family: sans-serif;
font-size: .8rem;
}



</style>
{{#if scriptName}}
<head>
  <script type='text/javascript' src="../public/javascripts/{{scriptName}}.js"></script>
</head>
{{/if}}
<section class="content-section">    
  <table class="table" cellpadding="5px" cellspacing="0">
    <h1>Jogos</h1>
    <li><a href="/game">Adicionar Jogo</a></li> 
    <tr>
      <th>Group Identifier</th>
      <th>Identifier</th>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th>Image_url</th>
      <th>Mechanics</th>
      <th>Categories</th>
      <th></th>
    </tr>
{{#each gamesOfGroups}}
    <tr id="gamerow_{{id}}" >
      <td>{{groupId}}</td>
      <td>{{id}}</td>  
      <td>{{name}}</td>
      <td><textarea name="a" id="a" cols="30" rows="10">{{description}}</textarea></td>
      <td>{{url}}</td>
      <td><img class"giant-pic" src="{{image_url}}"></td>
      <td><textarea name="b" id="b" cols="10" rows="5">{{mechanics}}</textarea></td>
      <td><textarea name="c" id="c" cols="10" rows="5">{{categories}}</textarea></td>
      <td><button id="btn_game_{{id}}_{{groupId}}"> Delete Game</button></td>
    </tr>   
{{/each}}
  </table>
</section>
      