<ul>
    <li>Identifier : {{game.id}}</li>
    <li>Name : {{game.name}}</li>
    <li>Description : {{game.description}}</li>
    <li>Url : {{game.url}}</li>
    <li>Image_url : {{game.image_url}}</li>
    <li>Mechanics : {{game.mechanics}}</li>
    <li>Categories : {{game.categories}}</li>
</ul>