<ul>
    <li>Group Identifier : {{gamesOfGroup.groupId}}</li>
    <li>Identifier : {{gamesOfGroup.id}}</li>
    <li>Name : {{gamesOfGroup.name}}</li>
    <li>Description : {{gamesOfGroup.description}}</li>
    <li>Url : {{gamesOfGroup.url}}</li>
    <li>Image_url : {{gamesOfGroup.image_url}}</li>
    <li>Mechanics : {{gamesOfGroup.mechanics}}</li>
    <li>Categories : {{gamesOfGroup.categories}}</li>
</ul>